<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Form</h1>

    <form th:action="@{/login}" method="post">
        <label style="color: red" th:text="${msg}"></label> <br/> <br/>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        <br/>
        <br/>
        <label for="password">password</label>
        <input type="text" id="password" name="password" />
        <br/>
        <input type="submit" value="log in">
    </form>
</body>
</html>